<html xmlns:tal="http://xmlns.jenspersson.com/mallgroda">
    <head>
        <title>Boss and special item per dungeon</title>
        <style type="text/css"></style>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Dungeon</th>
                    <th>Item</th>
                    <th>Boss</th>
                </tr>
            </thead>
            <tbody>
                <tr tal:repeat="dung dungeons()">
                    <td tal:content="dung.name()">Placeholder dungeon name</td>
                    <td tal:content="dung.item()">Placeholder dungeon item</td>
                    <td tal:content="dung.boss()">Placeholder dungeon boss</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>