<html xmlns:tal="http://xmlns.jenspersson.com/mallgroda">
    <head>
        <title>Boss and special item per dungeon</title>
        <style type="text/css"></style>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Dungeon</th>
                    <th>Item</th>
                    <th>Boss</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Inside the Deku Tree</td>
                    <td>Slingshot</td>
                    <td>Queen Gohma</td>
                </tr>
                <tr>
                    <td>Dodongo's Cavern</td>
                    <td>Bomb bag</td>
                    <td>King Dodongo</td>
                </tr>
                <tr>
                    <td>Lord Jabu-Jabu's Belly</td>
                    <td>Boomerang</td>
                    <td>Dr Eggman</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>